* { 
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
     }



.toggler{
  display: none;
}


nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
min-height: 8vh;
background-color: rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
        
    }
.logo{
    position: absolute;
    left: 50px;
    color: rgba(238, 236, 236, 0.973);
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 45px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
  position: relative;
  right: -70px;   
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 40px;
    
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
}

.showcase{
  background-image: url(/images/mainpage.png);
  margin: 20px 0 20px 0;
  height: 800px;
  width: 100%;
}



.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: red;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}








/*----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------*/ 





@media screen and (max-width: 1024px){
/* CORE STYLES */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo{
  position: relative;
  left: auto;
}
.nav-links {
  display: block;
  width: 100%;
  align-items: center;
  position: relative;
  left: -5px;
}
.nav-links li a{
  font-size: x-large;
  padding: 15px;
  border-radius: 10%;
}
.nav-links li a:hover{
  background-color: black;
}

.toggler{
  display:inline;
}


:root {
    --primary-color: rgba(1, 9, 12, 0.75);
    --overlay-color: rgba(7, 20, 31, 0.85);
    --menu-speed: 0.75s;
  }
  

  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }
  
  .showcase {
    background: var(--primary-color);
background-image: url(/images/mainpage.png);
    color: #fff;
    height: 100vh;
    position: relative;
  }
  
 
  /* MENU STYLES */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  

  

}
/* Media query end */





/* ----------------------------------------------------------------------------------------
Footer started 
--------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------*/





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container-l{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*---------------------------------------------------
--------------------------------------------------*/

@media screen and (min-width: 1024px) {



  .Comments {
      color: rgba(142, 185, 201, 0.75);
      text-shadow: rgb(19, 5, 5) 1px 1px 0px;
      background-color: rgba(6, 14, 20, 0.85);
      font-size: 200%;
      margin-top: 10px;
      padding: 10px 20px 10px 20px;
      text-align: center;
      border-radius: 5px 5px 5px 5px;
      font-family: 'sans-serif';
      display: block;
  }

  .Text {
      color: rgb(1, 9, 12, 0.75);
      text-shadow: rgb(122, 122, 122) 1px 1px 0px;
      background-color: rgba(159, 179, 197, 0.85);
      font-size: 130%;
      margin: 10px;
      padding: 10px 20px 10px 20px;
      text-align: center;
      border-radius: 5px 5px 5px 5px;
      font-family: 'sans-serif';
      display: block;
  }

  .Adress {
      color: rgb(255, 255, 255);
      text-shadow: rgb(159, 179, 197, 0.85) 1px 1px 0px;
      background-color: rgba(159, 179, 197, 0.85);
      font-size: 150%;
      margin: 10px;
      padding: 10px 20px 10px 20px;
      text-align: center;
      border-radius: 5px 5px 5px 5px;
      font-family: 'sans-serif';
      display: inline;
  }

  .Adressbox {
      color: rgb(1, 9, 12, 0.75);
      text-shadow: rgb(159, 179, 197, 0.85) 1px 1px 0px;
      background-color: rgba(159, 179, 197, 0.85);
      font-size: 150%;
      margin: 10px;
      padding: 10px 20px 10px 20px;
      text-align: center;
      border-radius: 5px 5px 5px 5px;
      font-family: 'sans-serif';
      display: inline;
  }

  .Comment {
    color: rgb(255, 255, 255);
    text-shadow: rgb(159, 179, 197, 0.85) 1px 1px 0px;
    background-color: rgba(159, 179, 197, 0.85);
    font-size: 150%;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-family: 'sans-serif';
    display: inline;
    position: relative;
    top: -75px;
  }

  .Textbox {
    color: rgb(1, 9, 12, 0.75);
    text-shadow: rgb(159, 179, 197, 0.85) 1px 1px 0px;
    background-color: rgba(159, 179, 197, 0.85);
    font-size: 150%;
    margin: 10px ;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-family: 'sans-serif';
    display: inline;
    position: relative;
    left: 28px;
  }

  .button {
      background-color: rgba(159, 179, 197, 0.85);
      border: none;
      color: white;
      padding: 15px 32px;
      position: relative;
      top: 100px;
      left: -250px;
      align-items: center;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: 'sans-serif';
      transition-duration: 0.4s;
      margin-bottom: 150px;
  }

  .button:hover {
      background-color: #4CAF50;
      /* Green */
      color: white;
  }

}

/* ---------------------------------------------------------Genre CSS ------------------------------------------------*/
/* ---------------------------------------------------------Genre CSS ------------------------------------------------*/
/* ---------------------------------------------------------Genre CSS ------------------------------------------------*/
/* ---------------------------------------------------------Genre CSS ------------------------------------------------*/



  






